<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1> Nerdy Movies Reviewed by Nerds</h1>
    <p>Letterpress tote bag occupy, skateboard williamsburg mlkshk mumblecore schlitz banjo. Lomo stumptown YOLO roof party pour-over,       schlitz dreamcatcher affogato hoodie. Ramps cred listicle, helvetica microdosing chambray banjo small batch man braid drinking v        inegar umami semiotics. </p>
    <p><%= link_to 'Sign Up to write a review', new_user_registration_path, class: 'btn btn-primary' %></p>
  </div>
<% end %>

<div class='row'>
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
